
@font-face {
  font-family: "SF Pro";
  src: url("./assets/fonts/SFPRODISPLAYTHINITALIC.OTF") format("opentype");
  font-weight: 100;
  font-style: italic;
}

.tagwrapper{
  /* margin-top: 10vh; */
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 5vh;
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  justify-items: center;
  flex-direction: column;
 }

.heading {
  margin-left: 5vh;
  font-size: 3rem;
  font-family: monospace;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
   border-right: 10px solid white;
   width: 0ch; 
  -webkit-text-stroke: 2px black;
  animation: typing 9s steps(25, end) infinite alternate, 
  blink 2s infinite; 
} 

@keyframes typing {
  0% { width: 0ch; }
  50% { width: 24ch; }
  100% { width: 0ch; }
}

@keyframes blink {
  50% { border-color: white; }
  70% { border-color: transparent; }
}

.h3container {
  background: rgba(0, 0, 0, 100);
}

.titlebuddy{
  display: flex;
  margin-left: 25vh;
  margin-top: 20vh;
  align-items: center;
  color: white;
  font-size: 12vh;
}

.descriptionbuddy {
  margin-top: 15vh;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  font-size: x-large;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 6);
  /* font-weight: 900; */
  font-family: "SF Pro", sans-serif; 
}


.optionsbutton {
  position: absolute;
  top: 40%;
  left: 50vh;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 5vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  opacity: 0.9;
  /* z-index: 10;  */
}
.button1 {
  border: 3px solid red;
  margin: 12px;
  height: 12vh;
  width: 18vw;
  border-radius: 200px;
  background: #000000;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  color: white;
  transition: 500ms;
  font-weight: bold;
  /* display: inline-block; */
  transition: transform 0.1s ease-in-out;
}

.button1:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  color: #000000;
  background-color: #1c85e8;
  transition: 500ms;
  transform: scale(1.2);
}

@media screen and (max-width: 800px) {
 .descriptionbuddy{
  font-weight: lighter;
  font-size: medium;
  text-align: center;
 }
 .optionsbutton {
  display: flex;
  flex-wrap: wrap;
  gap: 8vh;
 }
 .button1 {
  display: flex;
  font-size: 60%;
  height: 1.8rem;
  gap: none;
 }
 .heading{
  font-size: 3rem;
  
 }
 .tagwrapper{
  color: rgb(255, 255, 255);
 }

}
@media (max-width: 400px) {
  .heading {
    font-size: 2.5rem; /* Reduce font-size on small screens */
  }
}