@font-face {
    font-family: "SF Pro";
    src: url("./assets/fonts/SFPRODISPLAYTHINITALIC.OTF") format("opentype");
}

.navbar {
    /* background: rgba(0, 0, 0, 0.7); */
     background-color: #000; 
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    width: 100%;
    color: white;
    width: 100%;
    z-index: 1000;
    font-size: 1.25rem;
    position: relative;
    flex-wrap: wrap;
     opacity: 0;
  transform: translateY(-10px);
  animation: fadeSlideIn 0.4s ease-out 0.2s forwards;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.img {
    /* max-width: 50px; */
    width: 17vh;
    height: 4.5vh;
    /* object-fit: contain; */
}



.navbar .navlink {
    color: #ddbc64;
    margin: 0 0.75rem;
    font-size: 1.05rem;
    font-weight: 600;
    display: inline-block;
    transition: color 0.3s ease, transform 0.2s ease-in;
    font-family: "SF Pro", sans-serif;
}

.navbar .navlink:hover {
    color: #6e69e9;
    /* text-decoration: underline; */
    transform: scale(1.2);
}

.tagLine {
    text-align: center;
    font-size: 1.25rem;
    /* font-weight: 600; */
    text-shadow: 20px 5px 6px rgba(0, 0, 0, 1.0);
    margin-left: auto;
    margin-right: auto;
    font-family: "SF Pro", sans-serif;
}

.logoItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.05rem;
    font-weight: 500;
    text-align: center;
    font-family: "SF Pro", sans-serif;
    cursor: pointer;
}


/* Responsive   */
@media (min-width:600px) and (max-width: 768px) {
    .navbar {
        height: auto;
    }

    .logoItem {
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }

    .tagLine {
        font-size: 0.85rem;
    }

    .navbar .navlink {
        /* margin: 0.5rem; */
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 600px) {
    .img {
        /* max-width: 40px; */
        height: 4vh;
        width: 12vh;
    }

    .tagLine {
        /* font-size: 0.85rem; */
        display: none;
    }

    .navbar .navlink {
        font-size: 0.85rem;
        /* margin: 0.25rem; */
    }

    .logoItem {
        font-size: 1rem;
    }
}