html {
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
}

#root {
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}