.signup {
  height: 25rem;
  width: 25rem;
  padding: 3vh;
  margin-top: 4vh;
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -15px -15px 30px rgb(60, 60, 60);
  color: white;
  display: inline-block;
  transition: transform 0.1s ease-in-out;
}

.signup:hover {
  transform: scale(1.02);

}

.signupheader {
  text-align: center;
}

.gender {
  display: flex;
  font-size: large;
  font-weight: bold;
  margin-bottom: 0.8rem;
  flex-wrap: wrap;
}

.radiobtn {
  margin-left: 25px;
  display: flex;
  gap: 30px;
}

.signupdetailField {

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0.3rem;
  margin-bottom: 0.8rem;

}


.signupdetailField label {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.signupdetailField input {
  width: 90%;

  padding: 0.5rem;
  font-size: 1rem;
  border: 0.1rem solid #ffffff;
  border-radius: 9999px;
  outline: none;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);


}


.signupdetailField input[type="radio"] {
  margin-left: 5px;
  transform: scale(1.2);
  box-shadow: none;


}

.signupbody {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.btn17,
.btn17 *,
.btn17 :after,
.btn17 :before,
.btn17:after,
.btn17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn17 {
  width: 90%;
  height: 10%;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn17:disabled {
  cursor: default;
}

.btn17:-moz-focusring {
  outline: auto;
}

.btn17 svg {
  display: block;
  vertical-align: middle;
}

.btn17 [hidden] {
  display: none;
}

.btn17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  display: flex;
  justify-content: center;
}

.btn17,
.btn17 .textcontainer {
  overflow: hidden;
  position: relative;
}

.btn17 .textcontainer {
  display: block;
  mix-blend-mode: difference;
}

.btn17 .text {
  display: block;
  position: relative;
}

.btn17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn17:after,
.btn17:before {
  --skew: 0.1;
  background: #ffffff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
  color: black;
}

.btn17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
  color: black;
}

.btn17:hover:before {
  --progress: 100%;
}

.btn17:hover:after {
  --progress: -102%;
  color: black;
}

.submitbtn {
  display: flex;
  justify-content: center;
}

/* responsive design */
@media screen and (max-width: 900px) {
  .signup {
    width: 15rem;
  }
  .signupheader{
    font-size: x-large;
  }
  .signupdetailField label {
    font-size: large;
  }
  .signupdetailField input {
    padding: 0.7rem;
  }

}